body{
	font-family: "Open Sans";
}

h2{
	font-weight: 300;
	padding:20px 0px;
}

h3{
	font-weight: 300;
	padding-bottom:10px;
}

h5{
	font-family: 'Open Sans Condensed';
	font-weight: 700;
	font-size:15px;
	//padding-bottom:14px;
}

.navbar {
	border:0px;
}

.navbar-default{
	margin-top:35px;
	border:0px;
}

#topbar{
	border:0px;
	background-color: #fff;
	min-height:50px;
}
#logo{
	height:40px;
}



.observation .title, .copy {
	display:block;
	font-size:16px;
	font-family: 'Open Sans Condensed';
	font-weight: 300;
	margin-top:8px;
}

.observation .datatable {
	border: 1px solid #e3e3e3;
	padding:15px;
	margin-bottom:15px;
}

.observation .line {
	line-height:16px;

}

.observation .icon-shim {
	top:6px;
	width:20px;
	height:20px;
	padding:2px;
	margin:0px;
	overflow:hidden;
}

h1.key-figure{
	font-family: 'Open Sans Condensed';
	font-size: 72px;
	font-weight: 800;
	text-align: right;
	color:#002E49;
}
.navbar-brand {
		padding:8px;
}

.navbar {
		margin-bottom:-1px;
    border-radius:0;
}

#submenu {
    background-color: #e7e7e7;
    margin-bottom:20px;
}

.collapsing {
		display:none;
}
.search {
		color:#fff;
}
.date {
		color:#aaa;
}
.footer ul {
	padding:0px;
}
.footer li {
	list-style:none;
}
.sparkline {
	padding:10px;
	height:180px;
	bottom:0px;
}
.chart-footer {
	padding:6px;
	background-color: #F5F5F5;
	border: 1px solid #E3E3E3;
	margin-left:-6px;
	margin-right:-6px;
	margin-bottom:-6px;
}
.chart {
	display:block;
	//width:100%;
	min-height:100px;
	padding:6px;
	bottom:0px;
	border: 1px solid #E3E3E3;
	margin-bottom:10px;
}
.large {

	min-height:300px;

}
.box {
	min-height: 20px;
	padding: 19px;
	padding-top:0px;
	margin: 15px 0px;
	background-color: #F5F5F5;
	border: 1px solid #E3E3E3;
	border-radius: 4px;
}
.offset-margin {
	margin: 0px -15px;
}
.darkGrey {
	background-color: #52575F;
	color:#fff;
}
.darkGrey a{
	color:#fff;
	text-decoration: none;
}
a:hover{
	color:#52575F;
	text-decoration: none;
}
.icon{
	padding:8px;
	color:#fff;
	border: 1px solid #E3E3E3;
	border-radius: 6px;
	margin:10px;





}
.smicon{
	top:5px;
	width:32px;
	height:32px;
	padding:2px;
	margin:0px;
	margin-top:-2px;
	padding-top:0px;
	padding-left:10px;
	color:#fff;
	border: 1px solid #E3E3E3;
	overflow:hidden;

    border-radius:50%;
    display: inline-block;
    line-height:32px;
    //text-align:center;
}
.up{
	color: #0084d1;
}
.down{
	color: #002e49;
}
.same{
	color: #49bcff ;
}
a.menu-font{
	font-size: 13px;
}

.home{
	padding-top:14px;
}

.business{
	width:12%;
	float: left;
}
.economy{
	width:11%;
	float: left;
}
.work{
	width:33%;
	float: left;
}
.people{
	width:7.5%;
	float: left;
}


.shim{
	display:block;
	height: 40px;
}

.invis{
	background-color: #FFF;
	border: 0px solid #EFF;
}

.bg-white{
	background-color: #FFF;
}

.pad-left{
	padding-left: 10px;
}

.align-right{
	text-align:right;
	padding-right: 0px;
	line-height: 2;
}



/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}

.btn-primary {
    color: #FFF;
    background-color: #52575F;
    border-color: #52575F;
}

.right-caret {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #000000;
    display: inline-block;
    height: 0;
    opacity: 0.3;
    vertical-align: top;
    width: 0;
}

.blue{
	background-color: #00f;
}
.release-box{
	padding: 10px;
	margin: 10px;
	border: 1px solid #000;

}
.demo{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    //background-color:#efefef;
}

#equalheight {
    overflow: hidden; 
}

label {
    padding-left: 10px; 
}
#chart {
position: relative;
top:0px;
left: 30px;
}
#y_axis {
position: absolute;
top: 20px;
bottom: 0;
width: 40px;
}
#x_axis {
position: relative;
left: 40px;
height: 40px;
}
.tick{
	font-family: 'Open Sans Condensed';
	font-weight: 700;
	font-size:14px;
	color:#000;
}
.title{
	font-family: 'Open Sans Condensed';
	font-weight: 700;
	font-size:14px;
	color:#000;

}
.chart-title{
	font-family: 'Open Sans Condensed';
	font-weight: 700;
	font-size:15px;
	color:#000;

}

table .title{
	font-family: 'Open Sans';
	font-weight: 600;
	font-size:16px;
	color:#333;

}
table .subtitle{
	 display: block;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size:12px;
	color:#333;

}
table .currentRate{
	font-family: 'Open Sans';
	font-weight: 400;
	font-size:28px;
	color:#333;
	text-align: right;
	//background-color: #eee;

}
table .changeRate{
	font-family: 'Open Sans';
	font-weight: 300;
	font-size:22px;
	color:#aaa;
	padding-left:10px;
	text-align: right;

}
table .currentDate{
	text-align: center;
	line-height: 32px;

}
table .percent{
	vertical-align: top;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size:16px;
	color:#333;

}




.align-right{
	text-align: right;
}
.centered{
	text-align: center;
}
.info{
	color:#afe2ff;
	color:#49bcff;
}


.rickshaw_graph .y_ticks .tick, .rickshaw_graph .x_ticks_d3 .tick {
    stroke: rgba(0, 0, 0, 0.16);
    stroke-width: 2px;
    pointer-events: none;
}
.rickshaw_graph .y_ticks text, .rickshaw_graph .x_ticks text, .rickshaw_graph .x_ticks_d3 text {
		font-family: 'Open Sans Condensed';
	font-weight: 700;
	font-size:18px;
	color:#000;
	stroke: none;
    opacity: 1;

    pointer-events: none;
}


/* SERIES ID TABLE */
ul li { list-style: none }

table tr.even.row_selected td 
{
   background-color: #D9EDF7;
}

table tr.odd.row_selected td 
{
   background-color: #BBD6E3;
}

td 
{
   font-size: 16px;
}


.table > tbody > tr > td.download{
	text-align: center;
	padding-top:15px;
}
.table > tbody > tr > td.changeRate{
	padding-top:13px;
}
.table > tbody > tr > td.currentDate{
	padding-top:16px;
}

.table > tbody > tr > td.info-btn{
	padding-top:15px;
}

/*nav bar menu */
.navbar-default{
    background-color:#e2f4ff;

}
.navbar-default .navbar-nav > li > a {
    color: #000;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    font-weight:600;
    //background-color: #d1eeff;
    background-color: #e2f4ff;
}

#submenu .navbar-default .navbar-nav > li > a {

}
#submenu  {
    margin-top: 2px;
    background-color:#d1eeff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #e2f4ff;
    color: #555;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #e2f4ff;
    border-color: #e2f4ff;
}